body {
        padding: 50px;
        background-color: beige;
}
h1 {
    color: brown;
}
td.ids {
    background-color: yellow; 
 }
 td.tele{
     background-color: rgb(21, 211, 245);
 }
 #foot {
    background-color: #555555;
}
    