body {
    padding: 50px;
    background-color: beige;
}
h1 {
    color: brown;
}
img { 
    width: 200px;
    height: 300px;
}
h1.fnt-red {
    color: red;
    }
    
    .fnt-blue {
    color: blue;
    }
    
    #nombre_alumno {
        color: red;
        text-decoration: underline;
    }
h1.titulo {
    color: #64D2D4;
    font-size: 30px;
    font-style: italic;
}
p.texto {
    color: blue;
    font-size: 15px;
}
.destacado{
    font-style: italic;
    font-weight: bold;
}
div.centro {
    text-align: center;
    padding-top: 50px;
}
div.circulo {
    font-size: 60px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color:blue;
    border: 2px blue;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    color: white;
    margin: auto;
    line-height: 100px;
    text-align: center;
}    
#c1 {
    float: left;
}
#c3{
    float: right;
}
.arriba {
    color: white;
    background-color: blue;
    text-align: center;
    width: 100%;
    height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    line-height: 40px;
}
.abajo{
    color: white;
    background-color: red;
    text-align: center;
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0;
    left: 0;
    line-height: 40px;
}
#volver{
    top: 30%;
    position: absolute;
    right: 50%;
}
div.prin{
    text-align: center;
    color: white;
    font-size: 100px;
    line-height: 175px;
}
#der{
    background-color: red;
    padding: 25px;
    width: 100px;
    height: 100px;
}
#abajo{
    background-color: green;
    padding: 25px;
    width: 100px;
    height: 100px;
}
#izq{
    background-color: black;
    padding: 25px;
    width: 100px;
    height: 100px;
}
#arriba{
    background-color: blue;
    padding: 25px;
    width: 100px;
    height: 100px;
}
#zz {
    width:25%;
    padding: 20px;
    text-align: justify;
}
.mono {
    width: 100%;
    height: 170px;
    border: 2px black solid;
    padding: 5px;
}
#letra::first-letter {
    font-size: 2em;
}
#letra::first-line {
    color: #8B0000;
}
#letra{
    font-family: "Oldenburg";
}
.azul{
    color: blue;
    font-weight:bold;
}
#fondo {
    background-image: url("elo.png");
    width: 500px;
    height: 250px;
    display: block;
    margin: auto;
    background-color: yellow;
} 


.a {
    background-size: 25%;
}
.b {
   background-size: 100%; 
}
.c {
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 50%;
}
#gg {
   text-align: center;
    font-weight: bold;
}

 